<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" th:href="@{/resources/imgs/icon.svg}" />
	<meta name="description" content="">
	<meta name="author" content="">
	<title>服务没有发现</title>

</head>
<body>


<div class="wrapper-page" style="margin-top: 10%">

	<div class="m-t-30">
		<div class="text-center">
			<h2 style="text-align: center;color:red;">服务没有发现，请联系管理员</h2>
			<hr/>
			<i><h4 style="font-family: cursive;text-align: center;" th:text="${new java.util.Date()}"></h4></i>
		</div>
	</div>

</div>

</body>

</html>